table  {
    border:1px solid #aaa;
    border-collapse:collapse;
    background-color:#fff;
    font-family: Verdana;
    font-size:12px;
    align-self: center;
}

th {
    background-color:blue;
    color:#fff;
    height:32px;
}

td {
    border:1px solid #ccc;
    height:32px;
    width:32px;
    text-align:center;
}

.days { 
    background-color: yellow;
}

.ndays { 
    background-color: red;
}


.day {
    background-color: green;
}

